<style>
  #home {
    color: #da2d25;
  }
</style>
<div class="author">
  <h1>Hi, I'm Rajat</h1>
  <p>And this is my Blog Website</p>
</div>
<div class="mainImg">
  <img
    src="/images/blog_img.jpg"
    alt="Blog Image"
    height="200px"
    width="400px"
  />
</div>
<section class="articles">
  <h2>Latest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(article => { %>
    <a href="/article/<%= article.art_id %>">
      <li>
        <span class="title"><%= article.title %></span>
        <span class="date"><%= article.createdat %></span>
      </li>
    </a>
    <% }) %>
  </ul>
  <div class="pagination_container">
    <% if (previousPage !== null) { %>
    <a href="?page=<%= previousPage %>" class="pagination"
      >&#x2B9C; View Newer Posts</a
    >
    <% } %> <% if (nextPage !== null) { %>
    <a href="?page=<%= nextPage %>" class="pagination"
      >View Older Posts &#x2B9E;</a
    >
    <% } %>
  </div>
</section>
